@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
img{
  margin: 10px 0;
  height: 220px;
  
}

.holder{
    position:relative;
    transition: 0.5s;

    }
    .block{
        margin:100px 0;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    background:aqua;
    padding:20px;
    display:none;
    }
    .holder:hover .block{
    display:block;
    
    }
h1{
  margin:0 50px ;
  color :aqua;
  transition: 0.5s;

}
h1:hover{

  font-size:50px;

  transform : translateZ(+60px);
  color: aqua;

}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
}

.dad
{
  margin: 150px 0;
}


*
{
  margin : 0;
  padding: 0 ;
  box-sizing :border-box;
  font-family:'Ubuntu',sant-serif;
}

body
{
display: inside;

align-items : center;

min-height: 100vh;
background-color: rgb(255, 255, 255);
}

.navigatio
{
  position: relative;

right: auto;

}
.navigation
{

width: 350px;
height:750px;
}

.navigation ul
{
  display: flex;
}
.cards__flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}
.navigation ul li
{
  position:relative;

  list-style:none;
  width:70px;
  height:70px;
  z-index:1;  /* иконки перед объектом*/
}
.navigation ul li a
{
  position:relative;
  display:flex;
  justify-content:center;
  align-items : center;
  flex-direction:column;
  color:rgb(16, 119, 150);
  text-align: center;
}
.navigation ul li a .icon
{
  position:relative;
  line-height:75px;
  transition: 0.5s;
  font-size:30px;

}


.navigation ul li.active a .icon
{

  font-size:20px;
  transform : translateY(-6px);
  color: azure;
}

.navigation ul li a .text
{
  position:absolute;
  font-size:12px;
  color: white;
  bottom : 20px;
  font-weight: 400;
  transition: 0.25s;
  text-transform:uppercase;
  transform : scale(0);
}
.navigation ul li.active a .text
{
  transform : scale(1);
}
.indicator
{
  position:absolute;

  width: 70px;
  height: 70px;
 
  border-radius: 20px; /*закругленные углы*/
  transition: 0.5s;
}

.navigation ul li:nth-child(1).active ~ .indicator
{
  background:  rgb(31, 199, 250);
  box-shadow: 0 15px 25px rgb(31, 199, 250);
  transform: translateY(calc(55px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator
{
  background:  rgb(31, 199, 250);
  box-shadow: 0 15px 25px rgb(31, 199, 250);
  transform: translate(calc(60px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator
{
  background:  rgb(31, 199, 250);
  box-shadow: 0 15px 25px rgb(31, 199, 250);
  transform: translateX(calc(55px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator
{
  background:  rgb(228, 118, 67);
  box-shadow: 0 15px 25px rgb(31, 199, 250);
  transform: translateX(calc(57px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator
{
  background:  rgb(31, 199, 250);
  box-shadow: 0 15px 25px rgb(31, 199, 250);
  transform: translateX(calc(55px * 4));
}

.navigation ul li:nth-child(6).active ~ .indicator
{
  background:  rgb(31, 199, 250);
  box-shadow: 0 15px 25px rgb(31, 199, 250);
  transform: translateX(calc(57px * 5));
}
.navigation ul li:nth-child(7).active ~ .indicator
{
  background:  rgb(250, 31, 159);
  box-shadow: 0 15px 25px rgb(250, 31, 159);
  transform: translateX(calc(57px * 6));
}
.footer{ 
  text-align: center;
  width: 2550px;
	height: 150px;
	background: rgb(31, 199, 250);
  margin:220px -750px;
	clear:both;
}
.lu {
  margin:  0px 650px 10px;
  display: flex;

}
.li {
  margin:  0 600px 10px;
  

}


.n
{

width: 350px;
height:750px;
}

.n ul
{
  display: flex;
}

.n ul li
{
  position:relative;

  list-style:none;
  width:70px;
  height:70px;
  z-index:1;  /* иконки перед объектом*/
}
.n ul li a
{
  position:relative;
  display:flex;
  justify-content:center;
  align-items : center;
  flex-direction:column;
  color:rgb(16, 119, 150);
  text-align: center;
}
.n ul li a .icon
{
  position:relative;
  line-height:75px;
  transition: 0.5s;
  font-size:30px;

}


.n ul li.active a .icon
{

  font-size:40px;
  transform : translateY(-6px);
  color: azure;
}

.n ul li a .text
{
  position:absolute;
  font-size:12px;
  color: white;
  bottom : 20px;
  font-weight: 400;
  transition: 0.25s;
  text-transform:uppercase;
  transform : scale(0);
}
.n ul li.active a .text
{
  transform : scale(1);
}






form {
  position: relative;
  width: 300px;
  margin: 10px 0;
}
input, button {
  outline: none;
  background: transparent;
}
input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
  border: 3px solid #F9F0DA;
}
button {
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
input:focus {
  border-color: #311c24;
}